<nav class="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/laptops">Laptops</a></li>
        <li><a href="/tablets">Tablets</a></li>
        <li><a href="/laptops/upload-data">Upload Laptop data</a></li>
        <li><a href="/tablets/upload-data">Upload Tablet data</a></li>
    </ul>
</nav>