<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>New Laptop Entry</title>
</head>
<body>
    <div class="container">
        <div class="side-menu">
            <h1 class="menu-title">New Laptop</h1>
            <%- include("partials/navigationMenu.ejs") %>
        </div>
        <div class="content">
            <form action="/laptops/new" method="post">
                <label for="id">Inventory number:</label>
                <input type="number" name="id" id="id" required>
        
                <label for="model">Model:</label>
                <input type="text" name="model" id="model" required>
        
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option value="Available">Available</option>
                    <option value="Not available">Not available</option>
                    <option value="Unknown location">Unknown Location</option>
                    <option value="Temporary unavailable">Temporary unavailable</option>
                    <option value="Reserved">Reserved</option>
                    <option value="Damaged">Damaged</option>
                    <option value="Not in use">Not in use</option>
                </select>
                
                <label for="user">User:</label>
                <input type="number" name="user_id" id="user_id" min="1">
                
                <label for="doc_signed">Document:</label>
                <input type="checkbox" name="doc_signed" id="doc_signed">
                
                <label for="cpu">CPU:</label>
                <input type="text" name="cpu" id="cpu">
                
                <label for="ram">RAM:</label>
                <input type="number" name="ram" id="ram" min="0">
                
                <label for="storage">Storage:</label>
                <input type="number" name="storage" id="storage" min="0">
                
                <label for="notes">Notes:</label>
                <textarea name="notes" id="notes"></textarea>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>