<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload laptop data</title>
</head>
<body>
    <%- include("partials/navigationMenu.ejs") %>
    <h1>Laptop Data upload (CSV file)</h1>
    <form action="/laptops/upload-data" method="post" enctype="multipart/form-data">
        <input type="file" name="csvfile" id="csvfile" accept=".csv" required></input>
        <button type="submit">Upload file</button>
    </form>
</body>
</html>