body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    gap: 20px;
    min-height: 100vh;
}

/* SIDE MENU */

.side-menu {
    flex: 0 0 auto; /* takes the minimum space */
    height: 100%;
    background-color:darkslategrey;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    height: 100vh;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position:sticky;
    top: 0;
}

.menu-title {
    color:white;
    margin: 0;
    text-align: center;
}

.menu-item {
    padding: 5px 10px;
}

.menu-item:hover {
    background-color: rgb(61, 136, 136);
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MAIN SCREEN */

.content {
    flex-grow: 1;
    margin-top: 20px;
    margin-right: 20px;
    overflow-y: auto;
    height: calc(100vh - 20px);
}

.content .content-title {
    text-align: center;
}

.content table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse; /* removes borders between cells */
    /* margin: 20px 0; */
    text-align: center;
}

.content table thead {
    background-color: rgb(165, 207, 207);
}

.content table thead th {
    padding: 12px;
    border-bottom: 2px solid darkslategrey;
}

.content table tbody tr {
    border-bottom: 1px solid rgb(152, 204, 204);
}

.content table tbody tr:hover {
    background-color: rgb(218, 238, 238);
}

.content table tbody td {
    padding: 10px;
}

.content table tbody .actions-cell {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* MAIN SCREEN BUTTONS */

.add-new-btn,
.submit-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0 5px rgba(0,0,0,0.5);
}

.submit-btn {
    background-color: darkslategrey;
}

.add-new-btn:hover,
.submit-btn:hover {
    color: darkslategrey;
    background-color: white;
    border: 1px solid darkslategrey;
    cursor: pointer;
}

.edit-btn {
    text-decoration: none;
    font-size: 14px;
    background-color: darkslategrey;
    color:white;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete-btn {
    border: 0;
    border-radius: 5px;
    background-color: indianred;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
}

.edit-btn:hover,
.delete-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0 10px rgba(0,0,0,0.5);
}

/* INFO CARDS */
.info-section {
    display: flex;
    justify-content: space-evenly;
}

.info-card {
    width: 15vw;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-card h3,
.info-card p {
    margin: 0;
}

.info-card.green-card {
    background-color: rgb(129, 207, 129);
}

.info-card.red-card {
    background-color: rgb(233, 147, 147);
}

.info-card.neutral-card {
    background-color:rgb(196, 209, 209);
    align-items: start;
}

.info-card.neutral-card h3 {
    align-self: center;
}

/* FORMS */

.center-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.insert-form {
    padding: 50px;
    background-color: rgb(218, 238, 238);
    border-radius: 15px;
    box-shadow: 0px 0 10px rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 50px;
    row-gap: 10px;
}

.form-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-transform: uppercase;
    justify-self: center;
}

.inputs-1-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.inputs-2-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.inputs-full-row {
    grid-column: 1 / -1;
    justify-self: center;
}

.inputs-submit {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input-field {
    display: flex;
    flex-direction: column;
}

.form-input-field input {
    border: 1px solid rgb(172, 185, 185);
}

@media screen and (max-width: 600px) {
    .content table {
        font-size: 12px;
    }
}